#listOptions {
  margin-right: 8px;
}

#todo-items .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#todo-items .done-todo {
  text-decoration: line-through;
}

#todo-items .todo-item-title {
  padding-top: 8px;
}

#todo-items .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#todo-items .list-group-item .btn-xs {
  padding: 0;
}

#todo-items .todo-item-checkbox {
  padding-top: 8px;
}

#todo-items .todo-item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}

::ng-deep .mat-form-field-wrapper {
  padding: 0 !important;
}
::ng-deep .mat-form-field-infix {
  padding-top: 0.45rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  border-radius: 6px;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  transition: box-shadow ease-in-out 150ms;
}
